
body{
	background:#eee;
}

#top-wrapper{
	width:80%;
	height: 80px;
	margin-left:auto;
	margin-right:auto;
	margin-top:19px;
	margin-bottom:50px;
	padding:10px;

	background:#fff;
	text-align:center;
}

#title-wrapper{
}

#menu-wrapper{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	padding-top:0;

	background:#fff;
	text-align:center;
}

#menu-wrapper a{
	text-decoration:none;
	color:black;
	font-size:14pt;
}
#menu-wrapper .menu_current{
	border-bottom:3px solid #77aaee;
	border-top:3px solid #77aaee;
}

#language-switch{
	position:absolute;
	top:10px;
	right:10px;
}
#language-switch p{
	padding:2px;
	margin:0;
}

#language-switch .selected{
	border:2px solid #77aaee;
}


#main-wrapper{
	width:80%;
	height: 80%;
	margin-left:auto;
	margin-right:auto;
	padding:15px;
	padding-top:40px;

	background:#fff;
}

#main-wrapper p{
	margin-left:80px;
	margin-right:80px;
	text-align:justify;
}

#main-wrapper h2{
	border-bottom:3px solid #77aaee;
	color:#69a;

}

#main-wrapper a{
	color:#77aaee;
	text-decoration:none;
}

#main-wrapper dt{
	padding-left: 1.2em;
	text-indent: -1.2em;
}

#main-wrapper dt::before{
	content: "►";
	display: block;
	float: left;
	width: 1.2em;
	color: #77aaee;
}

#main-wrapper dd{
	padding-top:6px;
}




